.fetch-btn{
    height:30px;
    width: 100px;
    background-color: greenyellow;
    border-radius: 10px;
}

.quote{
    width: 50%;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 1%;
    border: 1px solid rgb(229, 177, 177);
}
.app{
    display: flex;
}